@tailwind base;
@tailwind components;
@tailwind utilities;

.delay-100 {
  animation-delay: 100ms !important;
}
.delay-200 {
  animation-delay: 200ms !important;
}
.delay-300 {
  animation-delay: 300ms !important;
}
.delay-400 {
  animation-delay: 400ms !important;
}
.delay-500 {
  animation-delay: 500ms !important;
}
.delay-600 {
  animation-delay: 600ms !important;
}
.delay-700 {
  animation-delay: 700ms !important;
}
.delay-800 {
  animation-delay: 800ms !important;
}
